// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";

//Typograph
$font-family-main : 'Nanum Gothic', sans-serif;
$font-family-geadings : 'Nanum Gothic', sans-serif;
$font-size : 1em;